.botonbox {
    display: grid;
    gap: 15px;
    margin: 0;
    width: 100%;
    height: 100%;
    margin-top: 35px;
}

.gridItem {
    width: 100%;
    height: 270px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.red {
    background-color: rgb(84, 0, 0);
}

.img {
    margin-right: -20px;
}

.img1 {
    background-image: url(https://www.shoppingdella.com.br/upload/blog/1317jpeg);
    background-size: 414px 270px;
    background-repeat: no-repeat;
    background-position: center;
}

.img2 {
    background-image: url(https://www.shoppingdella.com.br/upload/blog/1317jpeg);
    background-size: 414px 270px;
    background-repeat: no-repeat;
    background-position: center;
}

.img3 {
    background-image: url(https://www.shoppingdella.com.br/upload/blog/1317jpeg);
    background-size: 414px 270px;
    background-repeat: no-repeat;
    background-position: center;
}